.visible {
    transition: 250ms;
    opacity: 0;
    visibility: visible;
}

.hidden {
    transition: 250ms;
    opacity: 0;
    visibility: hidden;
}

.ariaButton {
    position: fixed;
    
}

.margin {

    margin: 0 auto;
    
    &--right{
        margin-right: auto;
    }

    &--left{
        margin-left: auto;
    }
}

.spacer {
    flex-grow: 1;

    &--25{
        flex-grow: 0.25;
    }

    &--50{
        flex-grow: 0.5;
    }
    
    &--75{
        flex-grow: 0.75;
    }
}
