
#fileTree {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--materialColor100);
    color: var(--fontColor10);
    
    li{

    }

    details {
        // core details styles defined in _ui.scss
        summary{

        }
        ul{
            li{

            }
        }
    }
}