
@use "sass:map";
@use "sass:color";
@use "utility";

$banner: (
    height: 0rem,
    backgroundColor: map.get(utility.$palette, "default-dark"),
    color: map.get(utility.$palette, "on-default"),
    fontSize: 1rem
);

$shortcut: (
    width: 250px,
    backgroundColor: map.get(utility.$palette, "default-dark"),
    color: map.get(utility.$palette, "on-default")
);

#banner {
    display: none;
    z-index: 8;
    position: fixed;
    inset: 0 0 auto 0;
    height: map.get($banner, "height");
    padding-top: 0.25rem;
    background-color: map.get($banner, "backgroundColor");
    color: map.get($banner, "color");
}

#shortcut {
    z-index: 4;
    position: fixed;
    inset: map.get($banner, "height") 0 0 auto;
    width: map.get($shortcut, "width");
    background-color: map.get($shortcut, "backgroundColor");
    color: map.get($shortcut, "color");

    [role=tablist]{

        position: absolute;
        inset: 0 0.5rem auto 0.75rem;
        height: 2rem;

        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 0.25rem 0 0 0;

        [role=tab]{

            flex-grow: 1;

            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            border-bottom: 1px solid transparent;
            background-color: inherit;
            color: inherit;

            font-size: 1rem;
            
            cursor: pointer;

            > .icon {
                flex-grow: 1;
                justify-self: center;
                align-self: center;
                text-align: center;
            }
            
            &.selected,
            &[aria-selected=true] {
                border-bottom: 1px solid utility.$secondary;
                color: utility.$secondary;
            }
        }
    }

    [role=tabpanel] {
        
        position: absolute;
        inset: 2rem 0 0 0.25rem;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0.5rem;
        gap: 0.25em;

        background-color: map.get(utility.$palette, "default-dark");
        color: map.get(utility.$palette, "on-default");
    }

    #agenda {
        overflow-x: none;
        overflow-y: scroll;

        .hour {
            width: 100%;
            height: 4rem;
            border-bottom: 1px solid map.get(utility.$palette, "default-light");
        }
    }

    #tasks {
        
    }

    #chat {



        #contactList {

            [role=feed]{
                display: flex;
                flex-direction: column;
                align-items: flex;
                overflow-y: scroll;
            }

            .contact{

                display: grid;
                grid-template-columns: auto 1fr 5ch;
                grid-template-rows: 1rem 1rem;
                align-items: center;

                img {
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                    border-radius: 50%;
                    overflow: none;
                }

                .name {
                    grid-row: 1 / 2;
                    grid-column: 2 / 3;
                }

                .message{
                    grid-row: 2 / 3;
                    grid-column: 2 / 3;
                }

                .date{
                    grid-row: 1 / 2;
                    grid-column: 3 / 4;
                }
            }
        }

        #messageFeed {
            nav
        }
    }
}

main {
    z-index: 0;
    position: fixed;
    inset: map.get($banner, "height") map.get($shortcut, "width") 0 0;
    width: auto;
}

dialog {
    z-index: 16;
    z-index: 20;
    position: fixed;
    inset: 40% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
    gap: 0.5em;
    font-size: 1rem;

    p:first-of-type {
       font-size: 1em;
       font-weight: 700;
    }

    p{
        font-size: 0.8em;
        max-height: 50vh;
        overflow-y: scroll;
    }

    > .icon {
        position: absolute;
        inset: 0.25rem 0.25rem auto auto;
        font-size: 0.5rem;
    }

    .scrim {
        z-index: 15;
        position: fixed;
        inset: 0;
        background-color: black;
        opacity: 20%;
    }

}

#fab {
    z-index: 12;
    position: absolute;
    inset: auto 1rem 1rem auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    > * {
        padding: 0.5em;
        border-radius: 50%;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    }

    :first-child{
        @include utility.button(map.get(utility.$palette, "primary-medium"));
    }
}