
@use "sass:map";
@use "sass:color";
@use "utility";

$menubar: (
    height: 2rem,
    backgroundColor: map.get(utility.$palette, "default-dark"),
    color: map.get(utility.$palette, "on-default"),
    fontSize: 1rem
);

[role=menubar]{

    position: fixed;
    inset: 0 0 auto 0;
    height: map.get($menubar, "height");
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    font-size: 1rem;

    :first-child{
        margin-right: auto;
    }

    ul{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1em;
        list-style: none;
    }

    [role=progressbar]{

        @keyframes progress {
            0% { left: 0%; right: 100%; }
            50%{ left: 0%; right: 0%; }
            100%{ left: 100%; right: 0%; }
    
        }

        z-index: 10;
        position: absolute;
        animation: progress 1s ease-in-out infinite;

    }
}

main {
    position: fixed;
    inset: map.get($menubar, "height") 0 0 0;
}

.notifications{
    z-index: 20;
    position: fixed;
    inset: map.get($menubar, "height") 0 auto auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5em;
    gap: 0.25em;
    font-size: 0.75rem;
    
    > div {
        position: relative;
        inset: 0 0 auto 0;
        padding: 1em;

        > .icon {
            position: absolute;
            inset: 0.25em 0.25em auto auto;
            font-size: 0.5em;
        }
    }
}

dialog {
    z-index: 20;
    position: fixed;
    inset: 40% auto auto 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
    gap: 0.5em;
    font-size: 1rem;

    p:first-of-type {
       font-size: 1em;
       font-weight: 700;
    }

    p{
        font-size: 0.8em;
        max-height: 50vh;
        overflow-y: scroll;
    }

    > .icon {
        position: absolute;
        inset: 0.25rem 0.25rem auto auto;
        font-size: 0.5rem;
    }

    .scrim {
        z-index: 15;
        position: fixed;
        inset: 0;
        background-color: black;
        opacity: 20%;
    }

}

.actions {
    z-index: 10;
    position: absolute;
    inset: auto 1rem 1rem auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    > * {
        padding: 0.5em;
        border-radius: 50%;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    }

    :first-child{
        @include utility.button(map.get(utility.$palette, "primary-medium"));
    }
}