.headline{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 1em;
    gap: 0.5em;
    text-align: center;
    
    p{
        max-width: 80%;
    }
}