@use "theme";
@use "type";

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25em;
    @include type.text(1em);

    :is(input, select, textarea){
        padding: 0.5em 0.75em;
        border: 0;
        border-radius: 6px;
        box-shadow: 0;
        @include theme.background(theme.vary(theme.$default));
    }
}

.formAction {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0;
    >*{
        flex-grow: 1;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: flex-start;
    }

    input[type=checkbox],
    input[type=radio]{
        height: 24px;
        width: 24px;
    }
}