.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    section {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        align-items: center;
    }
}