@use "theme";
@use "type";

table {

    display: block;
    background-color: inherit;
    color: inherit;
    @include type.text(1rem);
    text-align: center;

    :nth-child(odd){
        background-color: theme.vary(theme.$default);
    }

    tr{
        width: 100%;
        &:hover{
            transition: 250ms;
            transform: scale(1.025);
        }
        :first-child{
            text-align: left;
        }
    }
}