
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../font/open-sans.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material-icons.ttf);
}

// text styles

@mixin text($size) {
    margin: 0.5em 0;
    font-family: "Open Sans";
    font-size: $size;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0;
    line-height: 1.75;
    direction: ltr;
}

@media screen and (max-width: 800px) {
    body {
        @include text(1rem);
    }
}

@media screen and (min-width: 800px) {
    body {
        @include text(1.15rem);
    }
}

p {
    @include text(1rem);
}

h1 {
    @include text(2.25rem);    
}

h2 {
    @include text(2.15rem);    
}

h3 {
    @include text(2.05rem);    
}

h4 {
    @include text(1.95rem);    
}

h5 {
    @include text(1.85rem);    
}

h6 {
    @include text(1.75rem);    
}

.heading {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include text(1.25em);

    :nth-child(2){
        margin-left: auto;
    }
}

.normal{
    @include text(1em);
}

.caption {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include text(0.75em);
    :nth-child(2){
        margin-left: auto;
    }
}

.icon {
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0;
    line-height: 1;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.justify {
    text-align: justify;
}