@use "sass:color";
@use "sass:map";

// TYPOGRAPHY STYLES

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/font/OpenSans.ttf);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/font/MaterialSymbolsRounded.ttf);
}

@mixin text($size: 1em) {
  display: inline-block;
  font-family: "Open Sans";
  font-size: $size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  letter-spacing: 0;
  line-height: 1.5;
}

@mixin icon($size: 1em) {
  display: inline-block;
  font-family: "Material Icons";
  font-size: $size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  text-decoration: none;
  text-transform: none !important;
  text-shadow: none;
  letter-spacing: 0;
  line-height: 1;
}

.icon {
  @include icon();
}

:root {
  --accentColor: #fb0;
  --fontColor10: #111;
  --fontColor20: #222;
  --buttonColor10: #086;
  --buttonColor20: #197;
  --materialColor100: #aaa;
  --materialColor200: #bbb;
  --materialColor300: #ccc;
  --materialColor400: #ddd;
  --materialColor500: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accentColor: #fb0;
    --fontColor10: #fff;
    --fontColor20: #ccc;
    --buttonColor10: #086;
    --buttonColor20: #197;
    --materialColor100: #111;
    --materialColor200: #222;
    --materialColor300: #333;
    --materialColor400: #444;
    --materialColor500: #555;
}
}

html {
  scroll-behavior: smooth;
  background-color: var(--materialColor100);
  color: var(--fontColor10);
  @include text();
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;

  &-track {
    background-color: var(--materialColor100);
  }

  &-thumb {
    background-color: var(--fontColor20);
    border: var(--materialColor100) solid 4px;
    border-radius: 8px;
  }

  &-button {
    display: none;
  }

  &-corner {
    background-color: var(--materialColor100);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
video {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

details {
  summary {
    display: flex;
    flex-direction: row;
    align-items: center;

    :last-child {
      position: relative;
      right: 0.25em;
      margin-left: auto;

      &[open] {
        position: relative;
        right: 0.25em;
        transform: rotate(180deg);
      }
    }
  }
}

.invisible {
  visibility: hidden !important;
}

.disappeared {
  display: none !important;
}

@mixin button($size: 1em) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  border: 0 solid;
  border-radius: 6px;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: $size;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  letter-spacing: 0;
  cursor: pointer;

  &:focus-within,
  &:focus-visible {
    outline: 1px solid var(--accentColor);
  }

  * {
    background-color: transparent;
    text-decoration: none !important;

    &:focus-visible {
      outline: 0px;
    }
  }

  :last-child {
    margin-left: auto;
  }
}

.textButton {
  @include button(0.85em);

  &:hover {
    color: var(--accentColor);
  }

  &:focus-visible {
    color: var(--accentColor);
  }
}

.raisedButton {
  @include button(1em);
  background-color: var(--buttonColor10);
  color: var(--fontColor10);

  &:hover {
    background-color: var(--buttonColor20);
  }
}

@mixin input($size: 0.85em) {
  display: inline-block;
  border: 0 solid;
  border-bottom: 1px solid transparent;
  border-radius: 6px;
  padding: 0.5em;
  font-family: "Open Sans";
  font-size: $size;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  letter-spacing: 0;
  line-height: 1.5;
  cursor: text;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25em;

  &:focus-within {
    label {
      color: var(--accentColor);
    }

    input,
    textarea {
      outline: 1px solid var(--accentColor);
    }
  }

  label {
    text-align: left;
    text-transform: capitalize;
    font-size: 0.75em;
  }

  input,
  textarea {
    @include input();
    background-color: var(--materialColor300);
    color: var(--fontColor10);
  }
}

.inputButton {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: stretch;
  border-radius: 6px;

  &:focus-within {
    outline: 1px solid var(--accentColor);
  }

  input {
    @include input();
    border-radius: 6px 0px 0px 6px;
    background-color: var(--materialColor300);
    color: var(--fontColor10);

    &:focus-visible {
      outline: 0px;
    }
  }

  button {
    @include button(0.85em);
    border-radius: 0px 6px 6px 0px;
    background-color: var(--materialColor500);
    color: var(--fontColor10);

    &:focus-visible {
      outline: 0px;
    }
  }
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5em;
  gap: 0.25em;
  @include input();
  background-color: var(--materialColor300);
  color: var(--fontColor10);

  legend {
    text-transform: capitalize;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em;
    gap: 0.25em;
    border: 1px solid transparent;
    border-radius: 6px;

    &:hover {
      background-color: var(--materialColor200);
    }

    label {
      flex: 1;
      padding: 0.25em 0.5em;
      background-color: inherit;
      color: inherit;
      font-size: 1em;
      cursor: pointer;
    }

    input[type="radio"],
    input[type="checkbox"] {
      width: 1.25em;
      height: 1.25em;
      accent-color: var(--accentColor);
      cursor: pointer;
    }

    input[type="number"] {
      width: 10ch;
      @include input(1em);
      border: 0 solid;
      border-bottom: 1px solid var(--materialColor500);
      color: inherit;

      &:focus-visible {
        border-radius: 6px;
        border-bottom: 1px solid transparent;
        outline: 1px solid var(--accentColor);
      }
    }

    &:has(:checked) {
      background-color: var(--materialColor200);
    }
  }
}

.tabs {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2lh 1fr;
  padding: 0.25em;

  ul[role="tablist"] {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 0.25em;
    gap: 0.25em;
    background-color: var(--materialColor100);
    color: var(--fontColor10);

    li[role="tab"] {

      tabindex: 0;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-right: 1px solid var(--materialColor500);
      border-radius: 0px;
      font-size: 0.85em;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        color: var(--accentColor);
      }

      &:focus-visible {
        color: var(--accentColor);
        border-radius: 6px;
        border-right: transparent;
        outline: solid 1px var(--accentColor);
        outline-offset: -2px;
      }

      * {
        tabindex: -1;
      }

      &.selected {
        margin: 0;
        border-radius: 6px 6px 0px 0px;
        border-right: transparent;
        background-color: var(--materialColor200);
      }

      :first-child {
        margin-right: auto;
      }
    }
  }

  [role="tabpanel"] {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 1em;
    background-color: var(--materialColor200);
    color: var(--fontColor10);
  }
}

dialog {
  z-index: 20;
  position: absolute;
  inset: 20% auto auto 50%;
  width: 300px;
  max-width: 95svw;
  min-height: 100px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 6px;
  background-color: var(--materialColor100);
  color: var(--fontColor10);

  .head {
    font-size: 1.15em;
  }

  .body {
    font-size: 0.9em;
  }

  .actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5em;
  }
}

::backdrop {
  z-index: 10;
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.2);
  cursor: not-allowed;
}