@use "theme";
@use "type";
@use "block";
@use "button";
@use "input";
@use "table";
@use "columns";

:root{
    --drawerWidth: 300px;
    --sidebarWidth: 300px;
}

#fileTree {
    position: fixed;
    inset: 0 auto 0 0;
    width: var(--drawerWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 0.8rem;

    > * {
        width: 100%;
    }

    .profile{
        position: relative;
        background-color: theme.vary(theme.$default);
        color: theme.contrast(theme.$default);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0.75em;
        gap: 0.75em;
        border-radius: 0 8px 8px 0;
        cursor: pointer;
    
        img {
            position: relative;
            height: 96px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid theme.contrast(theme.$default);
            overflow: hidden;
        }
    
        ul {
            flex-grow: 1;
            li {
                list-style: none;
            }
        }
    }

    ul.files {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        list-style: none;

        li {

            width: 100%;
            background-color: theme.$default;
            color: theme.contrast(theme.$default);
            
            &:hover,
            details[open] {
                background-color: theme.vary(theme.$default);
            }

            :is(ul, li, details, summary, button){
                background-color: inherit;
                color: inherit;
                border: 0;
                border-radius: 0 1.25em 1.25em 0;
            }

            > button,
            > details summary {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
                width: 100%;
                margin: 0;
                padding: 0.25em 0.5em;
                cursor: pointer;
        
                .icon {
                    font-size: 1.5em;
                    width: 1em;
                }

                :last-child {
                    position: relative;
                    margin-left: auto;
                    right: 0;
                }
            }

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 4px;
                gap: 2px;
                background-color: inherit;
                color: inherit;
                border: 0;
                list-style: none;

                li {
                    border-radius: 0 1.25em 1.25em 0;
                    background-color: theme.vary(theme.$default);
                    color: theme.contrast(theme.$default);
                    
                    &:hover{
                        background-color: theme.$default;
                        color: theme.contrast(theme.$default);
                    }

                    button {
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}

main {
    position: fixed;
    inset: 0 var(--sidebarWidth) 0 var(--drawerWidth);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
}


aside {
    position: fixed;
    inset: 0 0 0 auto;
    width: var(--sidebarWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;

    > * {
        width: 100%;
    }
}