
@use "sass:map";
@use "sass:color";
@use "utility";
@use "global";

$fileTree: (
    width: 250px,
    backgroundColor: map.get(utility.$palette, "default-dark"),
    color: map.get(utility.$palette, "on-default")
);

#fileTree{

    position: absolute;
    inset: 0 auto 0 0;
    width: map.get($fileTree, "width");

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    gap: 0.25em;
    background-color: map.get($fileTree, "backgroundColor");
    color: map.get($fileTree, "color");

    [role=treeitem]{

        display: block;
        width: 100%;
        height: auto;
        padding: 0.5em 1em;
        border-radius: 0 6px 6px 0;
        background-color: color.scale(map.get($fileTree, "backgroundColor"), $lightness: 10%);
        color: map.get($fileTree, "color");

        * {
            padding: 0 !important;
            background-color: inherit !important;
        }
    }

    .profile{

        display: grid;
        grid-template-columns: 54px 1fr;
        grid-template-rows: repeat(auto-fit, auto);

        img{
            border: 2px solid map.get($fileTree, "color");
            border-radius: 50%;
        }

        :last-child{
            grid-column: span 2;
        }
    }
}

#note{ 
    position: absolute;
    inset: 0 0 0 map.get($fileTree, "width");
}

#fileSearch {

    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0px 6px 6px 0px;

    &:focus-within {
        outline: 1px solid map.get(utility.$palette, "secondary-medium");
    }

    input {
        flex-grow: 1;
        height: 2rem;
        padding: 0.5em;
        border-radius: 0;
        font-size: 0.8rem;

        &:focus-visible{
            outline: 0px;
        }
    }

    button {
        height: 2rem;
        padding: 0.5em;
        border-radius: 0 6px 6px 0;
        background-color: map.get(utility.$palette, "primary-medium");
        color: map.get(utility.$palette, "on-primary");
    }
}