@use "ui.scss" with (
  $menubar-height: 3lh
);

#banner {
  position: relative;
  width: 100%;
  height: 90svh;

  .overlay {
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    gap: 1lh;
    width: 95%;
    max-width: 60ch;
    &__title {
      font-size: 1.25em;
      font-family: var(--title-text);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.2ch;
    }
    &__subtitle {
      font-size: 2em;
      font-family: var(--title-text);
      font-weight: 400;
      text-transform: capitalize;
    }
    &__body {
      font-size: 1.15em;
      font-family: var(--body-text);
      font-weight: 300;
      line-height: 1.5;
      text-wrap: balance;
    }
    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1ch;
    }
  }
}

.section-title {
  margin: 2lh 0;
  font-size: 1.75em;
  font-weight: 100;
  font-family: var(--title-text);
  text-align: center;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;

  .feature {
    width: 95%;
    max-width: 100ch;
    min-height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    :first-child{
        flex: 1;
    }

    > div {
      min-width: 30ch;
      padding: 1lh 1ch;
    }

    &__summary {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1lh 1ch;
      gap: 0.5lh;
      .title {
        font-family: var(--title-text);
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
      }
      .subtitle {
        font-family: var(--title-text);
        font-size: 1.25em;
        font-weight: 400;
      }
      .body {
        font-family: var(--body-text);
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    &__details {
      align-self: center;
      font-family: var(--body-text);
      font-size: 1em;
      font-weight: 300;
      ul {
        display: flex;
        margin-left: 3ch;
        padding: 1lh 1ch;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25lh;
        list-style: none;
        li {
            position: relative;
            &::before {
                @include ui.icon(1.5em);
                content: "check";
                position: absolute;
                top: 50%;
                translate: calc(-100% - 0.25ch) -50%;
                font-variation-settings: "wght" 100;
          }
        }
      }
    }
  }
}

#compatibility {

}

#pricing {
    
}
