
@use "sass:map";
@use "sass:color";
@use "schedule";

$menubar: (
    height: 1.5em,
    backgroundColor: map.get(utility.$palette, "default-dark"),
    color: map.get(utility.$palette, "on-default")
);

[role=menubar]{

    position: fixed;
    inset: 0 0 auto 0;
    height: map.get($menubar, "height");
    display: flex;
    flex-direction: column;
    align-items: center;

    :first-child{
        margin-right: auto;
    }

    ul{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1em;
        list-style: none;
    }
}

main {
    display: grid;
    grid-template-rows: 54px repeat(288, 0.5em);
    grid-template-columns: repeat(25, 20ch);
}