header(role="tablist")
    button.tab(role="tab", aria-selected="true") Subjective
    button.tab(role="tab") Objective
    button.tab(role="tab") Assessment
    button.tab(role="tab") Plan
article(role="tabpanel")
        .heading
            h2.normal History of Present Illness 
            button.icon edit
        .input
            label Onset
            textarea(name="onset")
        .input
            label Site, Severity, and Quality
            textarea(name="quality")
        .input
            label Palliative and Provocative Factors
            textarea(name="palliative")
        .input
            label Associated Symptoms
            textarea(name="radiation")
article.hidden(role="tabpanel")
        .heading
            h2.normal Physical Examination
            button.icon edit
        .input
            label Vital Signs
            textarea(name="vitals")
        .input
            label Visual and Palpatory Findings
            textarea(name="inspection")
        .input
            label Ranges of Motion
            textarea(name="rom")
        .input
            label Special Tests
            textarea(name="tests")
article.hidden(role="tabpanel")
        .heading
            h2.normal Assessment
            button.icon edit
        .input
            label Diagnosis
            ul
                li: input(type="text")
                li: input(type="text")
                li: input(type="text")
        .input
            label Goals
            ul
                li: input(type="text")
                li: input(type="text")
                li: input(type="text")
        .input
            label Prognosis
            fieldset
                div 
                    input(type="radio", name="excellent")
                    label Excellent (90%)
                div
                    input(type="radio", name="good")
                    label Good (75%)
                div
                    input(type="radio", name="fair")
                    label Fair (50%)
                div
                    input(type="radio", name="poor")
                    label Poor (25%)
                div
                    input(type="radio", name="guarded")
                    label Guarded (10%)
article.hidden(role="tabpanel")
        h2 Plan
        section
            h3 Treatment
        section
            h3 At-home Care
        section
            h3 Lifestyle Modification
        section
            h3 Ergonomic Considerations