doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title #{ page }
        meta(name="description", content=`${ description }`)

        link(rel="icon", href="favicon.ico", sizes="any")
        link(rel="icon", href="favicon.svg", type="image/xml+svg")
        link(rel="apple-touch-icon", href="./assets/maskable-icon-180.png")
        link(rel="manifest", href="./manifest.json", crossorigin="use-credentials")
        link(rel="stylesheet", href=`./css/${ page }.css`)

        script(defer, src=`./js/${ page }.js`)  
    body 