header(role="tablist")
    button(role="tab", aria-selected="true") Subjective
    button(role="tab", aria-selected="true") Objective
    button(role="tab", aria-selected="true") Assessment
    button(role="tab", aria-selected="true") Plan
article(role="tabpanel")
    h2 Case Summary
    .input
        label Onset
        textarea(name="onset")
article(role="tabpanel")
    h2 Physical Examination
    section
        h3 Goals
    section
        h3 Monitored Areas
article(role="tabpanel")
    h2 Assessment
    section
        h3 Progress Toward Goals
    section
        h3 Updated Diagnosis
article(role="tabpanel")
    h2 Plan
    section
        h3 Treatment
    section
        h3 At-home Care
    section
        h3 Lifestyle Modification
    section
        h3 Ergonomic Considerations