header(role="tablist")
    button(role="tab", aria-selected="true") Treatment
    button(role="tab", aria-selected="true") Plan of Care
article
    h2 Treatment Visit
    section
        h3 Subjective
    section
        h3 Objective
    section
        h3 Assessment
    section
        h3 Procedures