extends default

append meta
    
block body
    nav(aria-label="file tree navigation")
        button Skip to document navigation
    header: nav(aria-label="article navigation")
        button Skip to article
    article
