extends _default

append meta
    
block body
    nav#fileTree(aria-label="file tree navigation")
        a.ariaButton(tabindex="0") Skip to note <i><span class="icon">keyboard_command_key</span>+F</i>
        div.profile
            img(src="../assets/male.svg")
            ul
                li John Doe (age 53)
                li Sanitation Engineer
                li Acute Low Back Pain
                li Recovery Phase (4/9)
        ul.files
            li: button
                .icon article
                span Treatment 02-14-2022
                .icon lock_open
            li: button
                .icon article
                span Treatment 02-12-2022
                .icon lock
            li: button
                .icon article
                span Treatment 02-08-2022
                .icon lock
            li: details
                summary 
                    .icon folder
                    span Evaluation 02-06-2022
                    .icon keyboard_arrow_down
                ul
                    li: button
                        .icon article
                        span History 02-06-2022
                        .icon lock
                    li: button
                        .icon attachment 
                        span Medications 02-06-2022
                        .icon lock
                    li: button
                        .icon attachment 
                        span Imaging 02-06-2022
                        .icon lock
                    li: button
                        .icon article
                        span Background 02-06-2022
                        .icon lock
    main.tabs
        include _exam
    aside.tabs
        header(role="tablist")
            button.tab(role="tab", aria-selected="true") Alerts
            button.tab(role="tab") Shortcuts
        article(role="tabpanel")
            section: ul
                li: details
                    summary 
                        .icon warning
                        span Cervical Block
                        .icon keyboard_arrow_down
                li: details
                    summary
                        .icon info
                        span Update Care Plan
                        .icon keyboard_arrow_down
                li: details
                    summary
                        .icon sticky_note_2
                        span Modify Technique
                        .icon keyboard_arrow_down
                li: button
                    span Add Alert
                    .icon add_circle
        article(role="tabpanel")
