header: nav(role="navigation" aria-label="primary navigation")
    ul
        li: button#navToggle(aria-label="toggle navigation visibility" name="navToggle" type="button")
            .text(aria-label="navigation label") menu
            .icon(aria-label="navigation icon") menu
        li: button#signIn(aria-label="sign in" name="signIn" type="button")
            .text(aria-label="button action") sign in
            .icon(aria-label="account icon") account_circle
        li: a(href="") File Manager
        li: a(href="") Appointments
        li: a(href="") Sales Terminal
        li: a(href="") Product Manager
        li: a(href="") Communication Tools
        li: details
            summary Business Tools
            ul
                li: a(href="") Email Marketing
                li: a(href="") Content Manager
                li: a(href="") Google Domains
                li: a(href="") Scheduling and Payroll
                li: a(href="") Business Analytics
                li: a(href="") Business Reporting
        li: details
            summary Settings
            ul
                li: a(href="") Preferences
                li: a(href="") Manage Subscription
        li: a(href="") Support
        