extends _boilerplate

append styles

append scripts

prepend body

prepend body
    nav.navigation
        button.navigation-item
            .navigation-item__icon home
            .navigation-item__text Home
    main